{% extends "layout.html" %} {% block title %}Inicio || Buscador {% endblock %} {% block content %}

<br><br><br>
<div class="container">
    <!-- <div class="row well titulo_busqueda sombra_caja" data-toggle="collapse" data-target="#demo2">
        <div class="col-lg-12">
            <i class="fa fa-plus"></i> Busqueda <i class="fa fa-twitter-square"></i> Twitter
        </div>
    </div> -->
    <!-- <div id="demo2" class="collapse">
        <twiter></twiter>
    </div> -->
    <!-- <br> -->
    <div class="row well titulo_busqueda sombra_caja" data-toggle="collapse" data-target="#demo3">
        <div class="col-lg-12">
            <i class="fa fa-plus"></i> Busqueda <i class="fa fa-twitter-square"></i> Tweets
        </div>
    </div>
    <div id="demo3" class="collapse">

        <tweet></tweet>
    </div>
</div>
{% endblock %}